body {
    background-image: url(/Recursos/FondoJuego.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Bangers", system-ui;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'JurassicPark';
    src: url('/Presentacion/CSS/Jurassic_Park.ttf') format('truetype');
}

.botones2 {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.botones2 a {
    background-color: orange;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px 30px;
    color: #b3741e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 0 #1a1105;
    transition: background 0.3s;
    letter-spacing: 2px;
}

.botones2 a:hover {
    background: #734b13;
    color: #c68427;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Dado_Tablero {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.Tablero {
    position: relative;
    width: 40%;
    max-width: 100%;
    right: 2.5%;
    z-index: 1;
}

.Puntuaciones {
    position: absolute;
    bottom: 93.3%;
    left: 54%;
    background-color: orange;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px 30px;
    color: #b3741e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 0 #1a1105;
}

.imgT {
    width: 120%;
    height: 85%;
    border: 2px solid black;
    display: block;
    position: relative;
    z-index: 1;
    
}

.Zona1, .Zona2, .Zona3, .Zona4, .Zona5, .Zona6, .Zona7, .Zona8, .Zona9, .Zona10, .Zona11, .Zona12, .Zona13, .Zona14, .Zona15, .Zona16 {
    position: absolute;
    border: 2px dashed rgba(0, 0, 0, 0.418);
    z-index: 10;
}

.Zona1 { top: 3%; left: 5%; width: 7%; height: 21%;  }
.Zona2 { top: 3%; left: 11.5%; width: 7%; height: 21%; }
.Zona3 { top: 3%; left: 18.5%; width: 7%; height: 21%; }
.Zona4 { top: 3%; left: 26%; width: 7%; height: 21%; }
.Zona5 { top: 3%; left: 33.5%; width: 7%; height: 21%; }
.Zona6 { top: 3%; left: 41%; width: 7%; height: 21%; }
.Zona7 { top: 5.6%; left: 86%; width: 17.5%; height: 15%;}
.Zona8 { top: 35%; left: 12.5%; width: 28%; height: 15%;}
.Zona9 { top: 32.5%; left: 75%; width: 7%; height: 18%;}
.Zona10 { top: 32.5%; left: 81%; width: 7%; height: 18%;}
.Zona11 { top: 32.5%; left: 88.5%; width: 7%; height: 18%;}
.Zona12 { top: 32.5%; left: 96%; width: 7%; height: 18%;}
.Zona13 { top: 32.5%; left: 102%; width: 7%; height: 18%;}
.Zona14 { top: 32.5%; left: 109.5%; width: 7%; height: 18%;}
.Zona15 { top: 58%; left: 13.5%; width: 30%; height: 18%;}
.Zona16 { top: 60.5%; left: 79%; width: 30%; height: 18%;}

.botondado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 35%;
    left: 8%;
    gap: 10px;
    z-index: 20;  
}

.botondado a {
    padding: 15px 30px;
    background-color: orange;
    color: #b3741e;
    text-shadow: 1px 1px 0 #1a1105;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background 0.3s;
    border: 2px solid rgb(0, 0, 0);
}

.botondado a:hover {
    background: #734b13;
    color: #c68427;
}

.cara-dado {
    display: none;
    max-width: 80px;
    width: 80%;
    margin: 0;
    position: absolute;
    top: 120%;
    left: 20%;
    z-index: 20;
}

#dado1 {
    display: block;
    position: absolute;
    top: 120%;
    left: 20%;
    z-index: 20;
}

.Tabla_section {
    text-align: center;
    width: 100%;
}

.Tabla_titulo {
    color: #ffffff;
    background-color: orange;
    font-size: clamp(24px, 4vw, 40px);
    font-family: 'JurassicPark', sans-serif;
    position: absolute;
    left: 83%;
    top: 13%;
    z-index: 5;
    border-radius: 8px;
    transition: background 0.3s;
}

.Tabla_titulo button:hover {
    background: #734b13;
    color: #c68427;
}

.Tabla {
    position: absolute;
    top: 25%;
    right: 1%;
    width: 22%;
    height: 40%;
    border: 0.5vw solid rgba(0, 0, 0, 0.45);
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.Dinos_ALM {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
    max-width: 20%;
    position: absolute;
    top: 32%;
    right: 2%;
    z-index: 9999;
}

.Dinos_ALM img {
    width: 30%;
    max-width: 50%;
    height: auto;
    display: flex;
}

@media screen and (max-width: 426px) {
    .Puntuaciones {
        bottom: 84.7%;
        left: 0.5%;
    }
}

@media screen and (max-width: 992px) {
    .Dado_Tablero {
        flex-direction: column;
        align-items: center;
    }

    .Dinos_ALM {
        position: relative;
        top: auto;
        right: auto;
        justify-content: center;
        max-width: 100%;
        left: 10%;
    }

    .botondado {
        position: relative;
        left: 0;
        align-items: center;
    }

    .cara-dado {
        position: absolute;
        width: 20%;
        min-width: 50px;
        left: 110%;
        top: 8%;
    }

    #dado1 {
        position: absolute;
        left: 110%;
        top: 8%;
    }

    .Tabla_titulo {
        position: absolute;
        left: 50%;
        bottom: 100%;
    }
}

@media screen and (max-width: 600px) {
    .botondado {
        flex-direction: row;
        align-items: center;
        gap: 10%;
        top: 10%;
        left: 1%;
    }

    .cara-dado {
        width: 50px;
        min-width: 50px;
    }

    .Tablero {
        margin: 0 auto 20px auto;
        width: 100%;
        right: 0.1%;
    }

    .Tabla_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Tabla_titulo {
        top: 64.5%;
    }

    .Tabla {
        position: relative;
        top: 10%;
        right: auto;
        width: 200%;
        max-width: 100%;
    }

    .Dinos_ALM {
        position: relative;
        top: auto;
        right: auto;
        max-width: 100%;
        justify-content: center;
        gap: 10px;
        z-index: 9999;
    }

    .Dinos_ALM img {
        width: 30%;
    }
}


@media (max-width: 767px) {
    .Zona1 { top: 5%; left: 5%; width: 7%; height: 22%;  }
    .Zona2 { top: 5%; left: 11.5%; width: 7%; height: 22%; }
    .Zona3 { top: 5%; left: 18.5%; width: 7%; height: 22%; }
    .Zona4 { top: 5%; left: 26%; width: 7%; height: 22%; }
    .Zona5 { top: 5%; left: 33.5%; width: 7%; height: 22%; }
    .Zona6 { top: 5%; left: 41%; width: 7%; height: 22%; }
    .Zona7 { top: 8.5%; left: 86%; width: 17.5%; height: 15%;}
    .Zona8 { top: 42%; left: 12.5%; width: 28%; height: 15%;}
    .Zona9 { top: 39%; left: 75%; width: 7%; height: 19%;}
    .Zona10 { top: 39%; left: 81%; width: 7%; height: 19%;}
    .Zona11 { top: 39%; left: 88.5%; width: 7%; height: 19%;}
    .Zona12 { top: 39%; left: 96%; width: 7%; height: 19%;}
    .Zona13 { top: 39%; left: 102%; width: 7%; height: 19%;}
    .Zona14 { top: 39%; left: 109.5%; width: 7%; height: 19%;}
    .Zona15 { top: 71%; left: 13.5%; width: 30%; height: 18%;}
    .Zona16 { top: 72.5%; left: 79%; width: 30%; height: 18%;}

    .Tabla {
        position: absolute;
        max-height: 100%;
        height: 40%;
        top: 78%;
        left: 10%;
    }

    .Dinos_ALM {
        position: absolute;
        max-width: 100%;
        width: 90%;
        gap: 10%;
        top: 80%;
        left: 15%;
    }

    .Tabla_titulo {
        position: absolute;
        top: 75%
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    
    .Tablero {
        max-width: 100%;
        width: 60%;
        position: absolute;
        top: 110%;
        left: 2%;
    }

    .Puntuaciones {
        position: absolute;
        left: 20%;
        bottom: 85%;
    }

    .Dinos_ALM {
        max-width: 100%;
        width: 25%;
        justify-content: center;
        left: 75%;
        top: 28%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;    
        gap: 10% 
    }

    .Tabla {
        max-height: 100%;
        height: 25%;
    }

    .Tabla_titulo {
        position: absolute;
        left: 80.2%;
        top: 20%;
    }

    .Zona1 { top: 5%; left: 5%; width: 7%; height: 22%;  }
    .Zona2 { top: 5%; left: 11.5%; width: 7%; height: 22%; }
    .Zona3 { top: 5%; left: 18.5%; width: 7%; height: 22%; }
    .Zona4 { top: 5%; left: 26%; width: 7%; height: 22%; }
    .Zona5 { top: 5%; left: 33.5%; width: 7%; height: 22%; }
    .Zona6 { top: 5%; left: 41%; width: 7%; height: 22%; }
    .Zona7 { top: 8.5%; left: 86%; width: 17.5%; height: 15%;}
    .Zona8 { top: 42%; left: 12.5%; width: 28%; height: 15%;}
    .Zona9 { top: 39%; left: 75%; width: 7%; height: 19%;}
    .Zona10 { top: 39%; left: 81%; width: 7%; height: 19%;}
    .Zona11 { top: 39%; left: 88.5%; width: 7%; height: 19%;}
    .Zona12 { top: 39%; left: 96%; width: 7%; height: 19%;}
    .Zona13 { top: 39%; left: 102%; width: 7%; height: 19%;}
    .Zona14 { top: 39%; left: 109.5%; width: 7%; height: 19%;}
    .Zona15 { top: 71%; left: 13.5%; width: 30%; height: 18%;}
    .Zona16 { top: 72.5%; left: 79%; width: 30%; height: 18%;}

}

@media (min-width: 1024px) and (max-width: 1440px) {
    .Tablero {
        position: absolute;
        right: 58%;
    }

    .Zona1 { top: 5%; left: 5%; width: 7%; height: 22%;  }
    .Zona2 { top: 5%; left: 11.5%; width: 7%; height: 22%; }
    .Zona3 { top: 5%; left: 18.5%; width: 7%; height: 22%; }
    .Zona4 { top: 5%; left: 26%; width: 7%; height: 22%; }
    .Zona5 { top: 5%; left: 33.5%; width: 7%; height: 22%; }
    .Zona6 { top: 5%; left: 41%; width: 7%; height: 22%; }
    .Zona7 { top: 8.5%; left: 86%; width: 17.5%; height: 15%;}
    .Zona8 { top: 42%; left: 12.5%; width: 28%; height: 15%;}
    .Zona9 { top: 39%; left: 75%; width: 7%; height: 19%;}
    .Zona10 { top: 39%; left: 81%; width: 7%; height: 19%;}
    .Zona11 { top: 39%; left: 88.5%; width: 7%; height: 19%;}
    .Zona12 { top: 39%; left: 96%; width: 7%; height: 19%;}
    .Zona13 { top: 39%; left: 102%; width: 7%; height: 19%;}
    .Zona14 { top: 39%; left: 109.5%; width: 7%; height: 19%;}
    .Zona15 { top: 71%; left: 13.5%; width: 30%; height: 18%;}
    .Zona16 { top: 72.5%; left: 79%; width: 30%; height: 18%;}

    .botondado {
        position: absolute;
        left: 56%;
    }

    .Puntuaciones {
        position: absolute;
        left: 20%;
        bottom: 89.5%;
    }

    .Tabla {
        position: absolute;
        top: 51%;
        height: 30%;
        left: 51%;
    }

    .Dinos_ALM {
        position: absolute;
        top: 53%;
        right: 28%;
    }

    .Tabla_titulo {
        top: 40%;
        left: 56.5%;
        position: absolute;

    }

}

@media (min-width: 1440px) {
    .Tablero {
        position: absolute;
        left: 2%;
    }
    
    .Zona1 { top: 5%; left: 5%; width: 7%; height: 22%;  }
    .Zona2 { top: 5%; left: 11.5%; width: 7%; height: 22%; }
    .Zona3 { top: 5%; left: 18.5%; width: 7%; height: 22%; }
    .Zona4 { top: 5%; left: 26%; width: 7%; height: 22%; }
    .Zona5 { top: 5%; left: 33.5%; width: 7%; height: 22%; }
    .Zona6 { top: 5%; left: 41%; width: 7%; height: 22%; }
    .Zona7 { top: 8.5%; left: 86%; width: 17.5%; height: 15%;}
    .Zona8 { top: 42%; left: 12.5%; width: 28%; height: 15%;}
    .Zona9 { top: 39%; left: 75%; width: 7%; height: 19%;}
    .Zona10 { top: 39%; left: 81%; width: 7%; height: 19%;}
    .Zona11 { top: 39%; left: 88.5%; width: 7%; height: 19%;}
    .Zona12 { top: 39%; left: 96%; width: 7%; height: 19%;}
    .Zona13 { top: 39%; left: 102%; width: 7%; height: 19%;}
    .Zona14 { top: 39%; left: 109.5%; width: 7%; height: 19%;}
    .Zona15 { top: 71%; left: 13.5%; width: 30%; height: 18%;}
    .Zona16 { top: 72.5%; left: 79%; width: 30%; height: 18%;}

    .botondado {
        position: absolute;
        left: 58%;
    }

    .Tabla {
        position: absolute;
        top: 35%;
        left: 52%;
    }

    .Dinos_ALM {
        position: absolute;
        top: 40%;
        left: 53%;
    }

    .Tabla_titulo {
        position: absolute;
        left: 59%;
        top: 30%;
    }

}