body {
    background-image: url(/Recursos/Imagenes/FondoJuego.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Bangers", system-ui;
}

@font-face {
    font-family: 'JurassicPark';
    src: url('Jurassic_Park.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.botones2 a {
    background-color: orange;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px 30px;
    display: inline-block;
    font-family: "Bangers", system-ui;
    color: #b3741e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 0 #1a1105;
    transition: background 0.3s;
    margin: 10px;
    letter-spacing: 2px;
}

.botones2 a:hover {
    background: #734b13;
    color: #c68427;
}

.img {
    display: block;
    margin: 10px auto;
    max-width: 42vw;
    height: auto;
    border: 2px solid black;
    z-index: 0;
    margin-left: 100px;
}

.img2 {
    display: block;
    width: 250px;
    height: auto;
    position: absolute;
    left: 925px;
    margin-top: -280px;
}

.botondado {
    text-align: center;
    top: -80px;
    margin-left: 200px;
    position: relative;
}

.botondado a {
    display: inline-block;
    padding: 15px 30px;
    background-color: orange;
    color: #b3741e;
    text-shadow: 1px 1px 0 #1a1105;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background 0.3s;
}

.botondado a:hover {
    background: #734b13;
    color: #c68427;
}

.boton_tablero {
    position: absolute;
    top: 10px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 2;
}

.tablero {
    position: relative;
    display: inline-block;
}

.tablero img {
    width: 600px;

}

.Zona {
    position: absolute;
    width: 300px;
    height: 220px;
    border: 2px dashed rgb(0, 0, 0);
    left: 110px;
    top: 100px;
}

#Zona1 {top: 375px; left: 110px;}
#Zona2 {top: 660px; left: 110px;}
#Zona3 {top: 100px; left: 600px;}
#Zona4 {top: 375px; left: 600px;}
#Zona5 {top: 660px; left: 600px;}


.Tabla_titulo {
    position: absolute;   
    top: 100px;           
    left: 1125px;         
    color: white;
    z-index: 10;          
    margin-top: 0;     
    letter-spacing: 5px;
    font-size: 60px;
    font-family: 'JurassicPark', sans-serif;   
}

.Tabla {
    position: absolute;
    border: 200px solid rgba(0, 0, 0, 0.452);
    left: 930px;
    top: 100px;
    height: 100px;
    width: 660px;
    z-index: 1;
}

/* CELULARES */
@media screen and (max-width: 576px) {

    body {
        background-attachment: scroll;
        background-size: 2000px; 
        background-position: center center;
    }

    .img2 {
        position: absolute;   
        width: 60px;        
        height: auto;
        top: 450px;           
        left: 47%;           
        transform: translateX(-50%); 
        margin: 0;
    }

    .botondado a {
        padding: 12px 20px;
        margin-right: 1000px;
        font-size: 1em;
    }

    .botondado {
        top: 120px;
        left: 7px;
    }

    .boton_tablero {
        top: 1px;
        left: auto;
        right: -0.1px;
        transform: none;
    }

    img {
    position: relative;
    left: -80px;         
    top: 10px;
    width: 42vh;       
    max-width: 200px;
    }

    .Zona {
        width: 140px;  
        height: 100px;
        top: 110px;
        left: 30px;  
        border: 2px dashed rgb(0, 0, 0);
    }

    #Zona1 { top: 230px; left: 30px; }
    #Zona2 { top: 360px; left: 30px; }
    #Zona3 { top: 110px; left: 248px; }
    #Zona4 { top: 230px; left: 248px; }
    #Zona5 { top: 360px; left: 248px; }

}

/* TABLETS */
@media screen and (max-width: 577px) and (max-width: 992px) {
    .img {
        max-width: 90vh;
    }
    .img2 {
        width: 90vh;
    }
    .botondado a {
        padding: 10px 15px;
        font-size: 0.9em;
    }
}
