body {
    background-image: url(/Recursos/Imagenes/Dinosaurio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0;
    padding: 0;
}

.pizarron-container {
    width: 580px;
    height: 350px;
    background-image: url(/Recursos/Imagenes/Pizarrón.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 40%; 
    left: 53%; 
    transform: translateY(-50%); 
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 85px;
    box-sizing: border-box;
}


.pizarron-texto {
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    margin-top: -95px;
}

.Botones {
    position: absolute;
    bottom: -90px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; 
}

.Botones button {
    border-radius: 10px;
    background-color: burlywood;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 180px;
}

.botones2 p1 a {
    background-color: orange;
    border-radius: 20px;
    border: 3px solid black;
    padding: 20px 40px;
    display: inline-block;
    font-family: "Bangers", system-ui;
    color: #936018;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 0 #1a1105;
    transition: background 0.3s;
}